/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Login Page Styles */
body#loginBody {
  background: url('../images/login_background.png') no-repeat center center fixed;
  background-size: cover;
}

div.loginHeader {
  text-align: center;
  margin-bottom: 50px;
}

div.loginHeader h1 {
  font-size: 100px;
  color: rgb(246, 58, 58);
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}

div.loginHeader p {
  color: aliceblue;
  font-size: 30px;
  margin: 0px;
  text-transform: uppercase;
  display: inline-block;
}

div.loginHeader p:after {
  content: '';
  display: block;
  height: 5px;
  background: #f685a2;
  width: 50%;
  margin: 0 auto;
}

div.loginBody form {
  margin: 0 auto;
  width: 450px;
  background: rgba(0, 0, 0, .5);
  padding: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
}

div.loginInputsContainer {
  margin-top: 20px;
}

div.loginInputsContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

div.loginInputsContainer input {
  height: 30px;
  width: 100%;
  border: 2px solid #d40339;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

div.loginButtonContainer {
  margin-top: 40px;
  text-align: center;
}

div.loginButtonContainer button {
  font-size: 20px;
  padding: 10px 40px;
  background: #f685a2;
  border: none;
  color: #fff;
}